.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, $light-purple, $dark-purple);
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    
    &--light {
        color: $light-grey;
    }
    &:hover {
        //none
    }
    @include respond(ptab) {
        font-size: 2.7rem;
        padding: 0 2rem;
    } 
}

.heading-tertiary {
    text-transform: uppercase;
}
.paragraph {
    font-size:1.6rem;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}