//COLORS
$light-purple: #b77cce;
$dark-purple: #8e44ad;
$dark-grey: #777;
$light-grey: #eeeded;
$white:white;
$black: black;

//BOXES COLORS
$box1-1: #1abc9c;
$box1-2: #16a085;
$box2-1: #2ecc71;
$box2-2:#27ae60;
$box3-1: #3498db;
$box3-2: #2980b9;

//GENERAL BOX SHADOW 
$shadow: 0 2rem 4rem rgba($black, .3);


//GRID 
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;