.btn:visited,
.btn:link {
    display: inline-block;
    padding: 1.5rem 4.5rem;
    border-radius: 100px;
    transition: all .3s;
    text-transform: uppercase;
    text-decoration: none;
    position:relative;
}
.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(43, 43, 43, 0.397);
}
.btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(43, 43, 43, 0.397);
}
.btn--white {
    background-color: $white;
    color: $dark-grey;
}
.btn--purple {
    background-image: linear-gradient(to right, $light-purple, $dark-purple);
    color: $white;
}
.btn::after {
    content: "";
    display:inline-block;
    height:100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left: 0;
    z-index:-1;
    transition: all .4s;
}
.btn--white::after {
    background-color: white;
}
.btn--purple::after {
    background-image: linear-gradient(to right, $light-purple, $dark-purple);;
}
.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}
.btn--animated {
    animation: moveInBottom .4s ease-out .8s;
    animation-fill-mode: backwards;
}