.cc_css_reboot.cc_dialog.dark.interstitial {
    background-image: linear-gradient(to right, $light-purple, $dark-purple)!important;
}
.cc_b_ok {
    background-color: $white!important;
    border-radius: 50px!important;
    padding: 1.5rem 4.5rem!important;
    margin-right:1rem!important;
    text-transform: capitalize!important;
    font-weight:400!important;
}
.cc_b_cp {
    background-color: $light-grey!important;
    border-radius: 50px!important;
    padding: 1.5rem 4.5rem!important;
    text-transform: capitalize!important;
    font-weight:400!important;
}