.feature-box {
    background-color: rgba($white, .8);
    text-align: center;
    padding:2.5rem;
    border-radius: .5rem;
    box-shadow: 0 2rem 4rem rgba($black, .4);
    &__icon {
        font-size: 6rem!important;
        margin-bottom: 1rem;
        background-image: linear-gradient(to right, $light-purple, $dark-purple);
        -webkit-background-clip: text;
        color:transparent;
    }
    &__text {
        font-size:inherit;
    }  
}