<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Frontend</title>
</head>
<body>
    <header class="header">
        
        <div class="header__text-box">
            <h1 class="main-heading">
                <span class="main-heading--main">Travelling</span>
                <span class="main-heading--sub">The way you imagine</span>
            </h1>

            <a href="#" class="btn btn--white btn--animated">View our tours</a>
        </div>
    </header>

    <main>

        <section class="section-about">
            <div class="u-center-text u-mb-big">
                <h2 class="heading-secondary">
                    Exciting Tour for Adventorous people
                </h2>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-mb-small">You are going to fall for these views</h3>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab unde rem molestiae libero quas dignissimos nesciunt corporis magni obcaecati quo, architecto quis, ea blanditiis quisquam facilis sit praesentium quibusdam sapiente?
                    </p>
                    <h3 class="heading-tertiary u-mb-small">Live the adventure of your life</h3>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab unde rem molestiae libero quas dignissimos nesciunt corporis magni obcaecati quo, architecto quis.
                    </p>
                    <a class="btn btn--purple u-mt-small" href="#">Discover more</a>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">
                        <img src="./img/landscape-portrait-sea.jpg" alt="" class="composition__img composition__img--p1">
                        <img src="./img/landscape-sea-tower.jpg" alt="" class="composition__img composition__img--p2">
                        <img src="./img/landscape-sunset.jpg" alt="" class="composition__img composition__img--p3">
                    </div>
                </div>
            </div>
        </section>

        <section class="section-features">
            <div class="row">
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon fa fa-heart"></i>
                        <h3 class="heading-tertiary">Explore the world</h3>
                        <p class="feature-box_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, qui ullam. Sequi consequatur officiis ipsam voluptatem? Recusandae, laborum cupiditate ipsam delectus error libero, a eligendi quos molestias odio dicta nemo.
                        </p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon fa fa-heart"></i>
                        <h3 class="heading-tertiary">Explore the world</h3>
                        <p class="feature-box_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, qui ullam. Sequi consequatur officiis ipsam voluptatem? Recusandae, laborum cupiditate ipsam delectus error libero, a eligendi quos molestias odio dicta nemo.
                        </p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon fa fa-heart"></i>
                        <h3 class="heading-tertiary">Explore the world</h3>
                        <p class="feature-box_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, qui ullam. Sequi consequatur officiis ipsam voluptatem? Recusandae, laborum cupiditate ipsam delectus error libero, a eligendi quos molestias odio dicta nemo.
                        </p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon fa fa-heart"></i>
                        <h3 class="heading-tertiary">Explore the world</h3>
                        <p class="feature-box_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, qui ullam. Sequi consequatur officiis ipsam voluptatem? Recusandae, laborum cupiditate ipsam delectus error libero, a eligendi quos molestias odio dicta nemo.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    
</body>
</html>