*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-weight: 400px;
  color: #777;
  padding: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #9b59b6, #8e44ad);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(3deg); }

.heading-tertiary {
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-mb-small {
  margin-bottom: 1rem; }

.u-mt-small {
  margin-top: 1rem; }

.section-about {
  background-color: #eeeded;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(155, 89, 182, 0.7), rgba(142, 68, 173, 0.76)), url(../img/bg.jpg);
  background-size: cover; }

.btn:visited,
.btn:link {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  transition: all .3s;
  text-transform: uppercase;
  text-decoration: none;
  position: relative; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(43, 43, 43, 0.397); }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(43, 43, 43, 0.397); }

.btn--white {
  background-color: white;
  color: #777; }

.btn--purple {
  background-image: linear-gradient(to right, #9b59b6, #8e44ad);
  color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: white; }

.btn--purple::after {
  background-image: linear-gradient(to right, #9b59b6, #8e44ad); }

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .4s ease-out .8s;
  animation-fill-mode: backwards; }

.composition {
  position: relative; }
  .composition__img {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition__img--p1 {
      left: 0;
      top: -2rem; }
    .composition__img--p2 {
      right: 0;
      top: 2rem; }
    .composition__img--p3 {
      left: 20%;
      top: 15rem; }
    .composition__img:not(:hover) {
      transform: 0.9; }
    .composition__img:hover {
      outline: 1.5rem solid #8e44ad;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      transform: scale(1.2); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2.5rem;
  border-radius: .5rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
  .feature-box__icon {
    font-size: 6rem !important;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #9b59b6, #8e44ad);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    font-size: inherit; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(155, 89, 182, 0.7), rgba(142, 68, 173, 0.76)), url(../img/bg.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.main-heading {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 50px; }
  .main-heading--main {
    display: block;
    font-size: 60px;
    letter-spacing: 20px;
    animation: moveInLeft 2s ease-out; }
  .main-heading--sub {
    display: block;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 7.8px;
    animation: moveInRight 2s ease-out; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2 * 6rem); }
