*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 55.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 55.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.6rem;
  font-weight: 400px;
  color: #777;
  padding: 3rem;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #b77cce, #8e44ad);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary--light {
    color: #eeeded; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.7rem;
      padding: 0 2rem; } }

.heading-tertiary {
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-mb-big {
  margin-bottom: 8rem !important; }

.u-mb-small {
  margin-bottom: 1rem !important; }

.u-mb-mid {
  margin-bottom: 4rem !important; }

.u-mt-mid {
  margin-bottom: 4rem !important; }

.u-mt-small {
  margin-top: 1rem !important; }

.section-about {
  background-color: #eeeded;
  padding: 25rem 0;
  margin-top: -21vh; }
  @media (max-width: 56.25em) {
    .section-about {
      margin-top: -14rem; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(183, 124, 206, 0.7), rgba(142, 68, 173, 0.76)), url(../img/bg.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-4deg); }
  .section-features > * {
    transform: skewY(4deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }

.section-tours {
  background-color: #eeeded;
  padding: 25rem 0 15rem;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 25rem 0 15rem; } }

.section-stories {
  padding: 10rem 0;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(183, 124, 206, 0.7), rgba(142, 68, 173, 0.76)), url(../img/testimonials-background.jpg);
  background-size: cover; }

.section-booking {
  padding: 10rem 0 15rem;
  background-image: linear-gradient(to right bottom, rgba(183, 124, 206, 0.7), rgba(142, 68, 173, 0.76)), url(../img/bg.jpg); }

.book {
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/landscape-tours.jpg);
  background-size: cover;
  height: fit-content; }
  .book__form {
    width: 50%;
    padding: 5rem; }
    @media (max-width: 56.25em) {
      .book__form {
        width: 75%; } }
    @media (max-width: 37.5em) {
      .book__form {
        width: 100%; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(95deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 75%, transparent 50%), url(../img/landscape-tours.jpg); } }
  @media (max-width: 37.5em) {
    .book {
      background-image: linear-gradient(95deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/landscape-tours.jpg); } }

.section-about-us {
  background-color: #eeeded;
  padding: 10rem 0 15rem; }

.section-team {
  padding: 10rem 0 15rem;
  background-image: linear-gradient(to right bottom, rgba(183, 124, 206, 0.7), rgba(142, 68, 173, 0.76)), url(../img/landscape-sunset.jpg);
  background-size: cover; }

.btn:visited,
.btn:link {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  transition: all .3s;
  text-transform: uppercase;
  text-decoration: none;
  position: relative; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(43, 43, 43, 0.397); }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(43, 43, 43, 0.397); }

.btn--white {
  background-color: white;
  color: #777; }

.btn--purple {
  background-image: linear-gradient(to right, #b77cce, #8e44ad);
  color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: white; }

.btn--purple::after {
  background-image: linear-gradient(to right, #b77cce, #8e44ad); }

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .4s ease-out .8s;
  animation-fill-mode: backwards; }

.composition {
  position: relative; }
  .composition__img {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(44, 62, 80, 0.3);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem; }
    @media (max-width: 56.25em) {
      .composition__img {
        position: relative;
        float: left;
        width: 33.333333%; } }
    .composition__img--p1 {
      left: 0;
      top: -1rem; }
      @media (max-width: 56.25em) {
        .composition__img--p1 {
          left: 0;
          top: 1rem; } }
    .composition__img--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__img--p2 {
          left: 0;
          top: 0rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__img--p3 {
      left: 20%;
      top: 15rem; }
      @media (max-width: 56.25em) {
        .composition__img--p3 {
          left: 0;
          top: 1rem;
          transform: scale(1.1); } }
    .composition__img--p4 {
      left: 0;
      top: 0; }
    .composition__img--p5 {
      right: 0;
      top: 8rem; }
    .composition__img:not(:hover) {
      transform: 0.9; }
    .composition__img:hover {
      outline: 1rem solid #8e44ad;
      box-shadow: 0 2rem 5rem rgba(44, 62, 80, 0.5);
      z-index: 20;
      transform: scale(1.1); }

.form__input {
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  border: none;
  transition: all .1s;
  border-bottom: 3px solid transparent;
  width: 90%;
  z-index: 1;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 2rem 4rem rgba(44, 62, 80, 0.3);
    border-bottom: 3px solid #8e44ad; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #8e44ad; }
    .form__input:focus:valid {
      border-bottom: 3px solid #8e44ad; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  z-index: 0; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: .3; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2rem 4rem rgba(44, 62, 80, 0.3);
  background-color: white;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(-3deg);
      padding: 3.5rem; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    background-color: white;
    float: left;
    overflow: hidden;
    -webkit-shape-outside: circle(52% at 50% 50%);
    shape-outside: circle(52% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(0) skewX(-2deg);
        float: none;
        margin: 0 auto 2rem auto; } }
  .story__image {
    height: 100%;
    transform: scale(1.3);
    transition: all .4s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(-1.7fdeg); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: scale(1);
    filter: blur(2px) brightness(70%); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 51rem; }
  .card__side {
    transition: all .8s ease-out;
    height: 51rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(44, 62, 80, 0.3); }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #55e7ca, #16a085); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ee2a8, #27ae60); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #8bc4ea, #2980b9); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #1abc9c, #0a463a), url(../img/landscape-portrait-sea.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #2ecc71, #145b32), url(../img/landscape-sea-tower.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #3498db, #164666), url(../img/landscape-sunset.jpg); }
  .card__heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: right;
    position: absolute;
    top: 16rem;
    right: 4rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.3rem;
    color: white;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(85, 231, 202, 0.7), rgba(22, 160, 133, 0.7)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 226, 168, 0.7), rgba(39, 174, 96, 0.7)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(139, 196, 234, 0.7), rgba(41, 128, 185, 0.7)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          margin-bottom: 1px solid #777; }
  .card__callta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: white;
    margin-bottom: 8rem; }
  .card__price-only {
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 4rem;
  border-radius: .5rem;
  box-shadow: 0 2rem 4rem rgba(44, 62, 80, 0.4);
  transition: all .3s ease-out; }
  .feature-box:hover {
    transform: translateY(-5px); }
  .feature-box__icon {
    font-size: 6rem !important;
    margin-bottom: 1rem;
    display: inline-block;
    background-image: linear-gradient(to right, #b77cce, #8e44ad);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    font-size: inherit; }
  .feature-box__job {
    color: #999999;
    margin-bottom: 1.5rem;
    font-size: 1.7rem; }
  .feature-box__image {
    border-radius: 50%;
    max-width: 12rem;
    max-height: 12rem;
    width: 50%;
    transform: scale(1);
    margin: 0 auto 2rem auto;
    overflow: hidden; }
    .feature-box__image-img {
      width: 100%;
      transition: all .3s; }
  .feature-box:hover .feature-box__image-img {
    transform: scale(1.3); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  background-color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2rem 4rem rgba(44, 62, 80, 0.3); }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 2.5rem;
      right: 2.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 1.5rem;
      right: 1.5rem; } }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#b77cce, #8e44ad);
  z-index: 1000;
  transition: all 1s ease-out; }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2rem;
      right: 2rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0px;
  transition: all .5s ease-in-out; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-weight: 300;
  color: white;
  text-decoration: none;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(100deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .3s; }

.navigation__link:hover {
  color: #8e44ad;
  background-position: 100%;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.9rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    height: 3px;
    width: 3rem;
    background-color: #2c3e50;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .5s; }
  .navigation__icon::after {
    top: -.9rem; }
  .navigation__icon::before {
    top: .9rem; }

.navigation__button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(183, 124, 206, 0.7), rgba(142, 68, 173, 0.76)), url(../img/bg.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative; }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.main-heading {
  color: white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 50px; }
  .main-heading--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 20px;
    animation: moveInLeft 2s ease-out; }
    @media (max-width: 37.5em) {
      .main-heading--main {
        font-size: 2.8rem;
        letter-spacing: 15px; } }
  .main-heading--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 7.8px;
    animation: moveInRight 2s ease-out; }
    @media (max-width: 37.5em) {
      .main-heading--sub {
        font-size: 2rem;
        letter-spacing: 2px; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 8rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 65rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 45rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 8rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2 * 6rem); }

.footer {
  background-color: #2c3e50;
  padding: 10rem 0; }
  .footer__logo-box {
    width: fit-content;
    margin: 0 auto; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem !important; } }
  .footer__logo {
    font-size: 10rem !important;
    background-image: linear-gradient(to right, #b77cce, #8e44ad);
    -webkit-background-clip: text;
    color: transparent; }
  .footer__navigation {
    border-top: 1px solid #eeeded;
    width: fit-content;
    padding-top: 1rem; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        margin: 0 auto; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1rem; }
  .footer__link:link, .footer__link:visited {
    color: #b77cce;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    color: #f4ebf8;
    box-shadow: 0 2rem 4rem rgba(44, 62, 80, 0.3);
    transform: rotate(5deg) scale(1.2); }
  .footer__text {
    color: #b77cce;
    width: 80%;
    float: right;
    border-top: 1px solid #eeeded;
    padding-top: 1rem; }
    @media (max-width: 56.25em) {
      .footer__text {
        margin: 0 auto;
        float: none; } }
